<!DOCTYPE html>

<!--
    This file is part of GOALS-logger, a broadcast audio logging system by:
       Nick Prater
       Andrew White
       Paul Kelly

    Copyright (C) 2012,2017 NP Broadcast Limited.

    GOALS-logger is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    GOALS-logger is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with GOALS-logger.  If not, see <http://www.gnu.org/licenses/>.
-->

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>talkSPORT GOALS Recording Channel [% channel.channel_id | html %]</title>
		<link rel="stylesheet" href="/goals.css" />
	</head>
	<body>


		<form
			action="[% update_uri %]"
			method="post"
			id="channel_metadata"
			class="channel_metadata"
		>

			<fieldset>
[% IF delete_uri %]
				<legend>Edit Recording Channel Details</legend>
[% ELSE %]
				<legend>Add New Recording Channel</legend>
[% END %]

				<ol>
					<li>
						<label for="source_label">source label</label>
						<input
							type="text"
							name="source_label"
							value="[% channel.source_label | html %]"
							placeholder="Label to Display"
							required
							size="60"
						/>
					</li>

					<li>
						<label for="match_title">match title</label>
						<input
							type="text"
							name="match_title"
							value="[% channel.match_title | html %]"
							placeholder="Team 1 v Team 2"
							size="40"
						/>
					</li>
					<li>
						<label for="commentator">commentator</label>
						<input
							type="text"
							name="commentator"
							value="[% channel.commentator | html %]"
							placeholder="Name of the Commentator"
							size="40"
						/>
					</li>
					<li>
						<label for="profile">profile</label>
						<select name="profile_id" id="channel_profile">
							[% FOREACH value IN profiles.keys %]
								<option value="[% value | html %]"
									[%- IF channel.profile_id == value -%]
										selected
									[%- END -%]
								>[% profiles.$value | html %]</option>
							[% END %]
						</select>
					</li>
					<li>
						<label for="source">Livewire channel</label>
						<input
							type="text"
							name="source"
							id="source"
							value="[% channel.source | html %]"
							placeholder="Livewire Channel ID"
[% IF delete_uri %]
							disabled="disabled"
[% END %]
						/>
[% IF delete_uri %]
						<a href="javascript:enable_source_edit()">edit</a>
[% END %]
					</li>


				</ol>

			</fieldset>

[% IF delete_uri %]
			<input type="submit" value="Update" />
[% ELSE %]
			<input type="submit" value="Add" />
[% END %]

			<input type="button" value="Cancel" onclick="window.location='[% cancel_uri %]'" />

[% IF delete_uri %]
			&emsp;
			&emsp;
			<input type="button" value="Delete" onclick="javascript:show_confirm_delete()" />
[% END %]
		</form>

[% IF delete_uri %]
		<form
			action="[% delete_uri %]"
			method="post"
			id="confirm_delete"
			class="channel_metadata"
			hidden="hidden"
		>

			<fieldset>
				<legend>Delete Recording Channel</legend>
				<p>
					Do you really want to <b>delete</b> this recording channel and <b>remove</b> all it's
					associated events and configuration?
				</p>
				<p>
					<b>This operation cannot be undone.</b>
				</p>
			</fieldset>

			<input type="submit" value="Delete" />
			<input type="button" value="Cancel" onclick="javascript:cancel_delete()" />
		</form>


<script type="text/javascript">
function enable_source_edit() {
	document.getElementById("source").removeAttribute("disabled");
}

function show_confirm_delete() {
	document.getElementById("channel_metadata").setAttribute("hidden", "hidden");
	document.getElementById("confirm_delete").removeAttribute("hidden");
}

function cancel_delete() {
	document.getElementById("confirm_delete").setAttribute("hidden", "hidden");
	document.getElementById("channel_metadata").removeAttribute("hidden");
}
</script>
[% END %]

	</body>
</html>
