<!DOCTYPE html>


<!--
    This file is part of GOALS-logger, a broadcast audio logging system by:
       Nick Prater
       Andrew White
       Paul Kelly

    Copyright (C) 2012,2017 NP Broadcast Limited.

    GOALS-logger is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    GOALS-logger is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with GOALS-logger.  If not, see <http://www.gnu.org/licenses/>.
-->

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>talkSPORT GOALS</title>
		<link rel="stylesheet" href="/goals.css" />

		<script type="text/javascript">

			function change_record_status(channel_id) {

				var start_stop = 'stop'; // default

				var checkbox = document.getElementById('channel_recording_checkbox_' + channel_id);
				if(checkbox.checked) {
					start_stop = 'start';
				}

				window.location = '/channels/record/' + start_stop + '/' + channel_id;
			}

		</script>

	</head>
	<body>
		<table class="channel_list" id="channel_list">
			<thead>
				<tr class="title_row">
					<th class="channel_list_edit"></td>
					<th class="channel_list_source">Source</th>
					<th class="channel_list_profile">Profile</th>
					<th class="channel_list_match">Match</th>
					<th class="channel_list_commentator">Commentator</th>
					<th class="channel_list_recording">Recording</th>
				</tr>
			</thead>
			<tbody>
			[% FOREACH channel IN channels -%]

			[% IF channel.profile_id == c.session.profile_id %]
			<tr class="channel_row">
			[% ELSE %]
			<tr class="channel_row_greyed">
			[% END %]
				<td class="channel_list_edit"> <a href="[% channel.edit_uri -%]">edit</a> </td>
				<td class="channel_list_source">[% channel.source_label | html %]</td>
				<td class="channel_list_profile">[% channel.profile.display_name | html %]</td>
				<td class="channel_list_match">[% channel.match_title | html %]</td>
				<td class="channel_list_commentator">[% channel.commentator | html %]</td>
				<td class="channel_list_recording">
				[% IF channel.profile_id == c.session.profile_id %]
					<input type="checkbox"
					       name="channel_recording_checkbox"
					       value="[% channel.channel_id %]"
					       id="channel_recording_checkbox_[% channel.channel_id %]"
					[% IF channel.recording == 'yes' %]
					       checked="true"
					[% END %]
					       onchange="change_record_status([% channel.channel_id %])"
					/>
				[% END %]
				</td>
			</tr>
			[% END %]
		</table>

		<p />

		<a href="/ui/player">DONE</a>

	</body>
</html>
