[Unit]
Description=GOALS Read Livewire GPI Service
After=network.target

[Service]
WorkingDirectory=/home/npb-audio/goals-logger
User=npb-audio
Group=npb-audio
ExecStart=/home/npb-audio/goals-logger/script/read_livewire_gpi
Restart=always

[Install]
WantedBy=multi-user.target
