[Unit]
Description=GOALS starman server
After=network.target

[Service]
WorkingDirectory=/home/npb-audio/goals-logger
User=npb-audio
Group=npb-audio
ExecStart=/usr/bin/starman                     \
    --disable-proctitle                        \
    --listen localhost:5000                    \
    --preload-app                              \
    --workers 5                                \
    script/goals.psgi
Restart=always

[Install]
WantedBy=multi-user.target
