[Unit]
Description=GOALS s3 upload service
After=network.target

[Service]
WorkingDirectory=/home/npb-audio/goals-logger
User=npb-audio
Group=npb-audio
ExecStart=/home/npb-audio/goals-logger/script/process-s3_upload s3.conf
Restart=always

[Install]
WantedBy=multi-user.target
