<!DOCTYPE html>

<!--
    This file is part of GOALS-logger, a broadcast audio logging system by:
       Nick Prater
       Andrew White
       Paul Kelly

    Copyright (C) 2012 NP Broadcast Limited.

    GOALS-logger is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    GOALS-logger is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with GOALS-logger.  If not, see <http://www.gnu.org/licenses/>.
-->

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>talkSPORT GOALS</title>
		<link rel="stylesheet" href="/goals.css" />
	</head>
	<body>
		<div id="body_container">

			<div id="clip_metadata_container" style="display: block">

				<b>Update Clip Details</b> &mdash; enter clip details and click OK
				<form id="clip_metadata" name="clip_metadata" method="post" enctype="multipart/form-data">

					<ol>

						<li>
							<label for="title">title</label>
							<input
								type="text"
								name="title"
								required="required"
								placeholder="Short title to show on hotkey"
								value="[% clip.title | html %]"
								size="60"
								id="clip_title"
							/>
						</li>

						<li>
							<label for="people">people</label>
							<input
								type="text"
								name="people"
								placeholder="Names of the people speaking"
								value="[% clip.people | html %]"
								size="60"
								id="clip_people"
							/>
						</li>

						<li>
							<label for="description">description</label>
							<textarea
								name="description"
								placeholder="A longer description of the clip or notes for the presenter"
								rows="4"
								cols="45"
								id="clip_description"
							>[%- clip.description | html -%]</textarea>
						</li>

						<li>
							<label for="out_cue">out cue</label>
							<input
								type="text"
								name="out_cue"
								placeholder="enter the last few words or describe how the clip ends"
								value="[% clip.out_cue | html %]"
								size="60"
								id="clip_out_cue"
							/>
						</li>

						<li>
							<label for="category">category</label>
							<select name="category" id="clip_category">
							[% FOREACH value IN categories.keys.sort %]
								<option value="[% value %]"
									[%- IF clip.category == value -%]
										selected="selected"
									[%- END -%]
								>[% categories.$value | html %]</option>
							[% END %]
							</select>
						</li>

						<li>
							<label for="language">language</label>
							<select name="language" id="clip_language">
							[% FOREACH value IN languages.keys.sort %]
								<option value="[% value %]"
									[%- IF clip.language == value -%]
										selected="selected"
									[%- END -%]
								>[% languages.$value | html %]</option>
							[% END %]
							</select>
						</li>

						<li>
							<button type="button" onclick="send_form()">OK</button>
							<button type="button" onclick='window.location.href = "/ui/assign_clips"'>Cancel</button>
						</li>
					</ol>
				</form>

			</div>


			<!-- This div contains the form used to display status feedback when clips are created.
			     It is hidden until the create clip button is pressed. Message is populated dynamically
			-->
			<div id="progress_message_container" style="display: block">

			</div>

		</div>


		<script type="text/javascript">


			function send_form() {

				var message_div = document.getElementById("progress_message_container");
				var form_data = new FormData(document.forms.namedItem("clip_metadata"));
				var request = new XMLHttpRequest();

				request.open("POST", "/clips/rename/[% clip.id %]", true);
				request.onload = function(event) {

					if(request.status != 200) {
						message_div.innerHTML = "Error " + request.status + " occurred updating clip.<br \/>";
						return;
					}

					/* Clip updated OK - forward to hotkey assignment */
					window.location.href = "/ui/assign_clips";
				};

				message_div.innerHTML = "updating clip..."
				request.send(form_data);
			}

		</script>


	</body>
</html>

